body {
    background-image: linear-gradient(90deg, #984d38 0%, #181e41 48%);
}

.bg-color-button{
    background-color: #7700b7;
    background-image: linear-gradient(170deg, #edb7ff67 0%, #7700b7 100%);
}

.titulo-carrusel{
    font-size: 4rem;
}

.span-navbar{
    background:-webkit-linear-gradient(#edb7ff, #a831d7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}